# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage directory
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# OS specific
.DS_Store
Thumbs.db
